<footer>
    <div class="container-fluid border-top">
        <div class="container">
            <div class="d-flex flex-row py-3">
                <div class="d-lg-flex d-none col-3">
                    <div class="d-flex align-self-center align-items-center">
                        <a class="navbar-brand" href="{{basePath "/"}}">BOONTA</a>
                    </div>
                </div>
                <div class="d-flex col justify-content-lg-end justify-content-center">
                    <div class="align-self-center">
                        <p>Designed & developed by Boonta</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script type="module" src="./js/main.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>