<nav class="navbar sticky-top navbar-expand-xl py-2 bg-transparent-xl" id="navbar">
    <div class="container">
        <div class="d-flex d-xl-none">
            <a class="navbar-brand" href="/">BOONTA CHAIPLUM</a>
        </div>
        <div class="d-none d-xl-flex" style="opacity: 1;">
            <a class="navbar-brand" href="/">BOONTA</a>
        </div>
        <div class="d-flex">
            <button class="navbar-toggler p-0" style="border: none;" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon bi bi-list"></span>
            </button>
        </div>

        <div class="offcanvas offcanvas-end p-lg-0 p-2" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel" data-bs-scroll="true">
            <div class="offcanvas-header justify-content-end">
                <button type="button" class="btn-close bi bi-x-circle" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body align-items-xl-center justify-content-center">
                <div class="d-grid d-xl-none px-0 py-2">
                    <a class="d-flex d-xl-none py-xl-0 py-2 justify-content-center btn btn-outline-dark border border-dark border-2 rounded-5"
                            href="/">Home</a>
                </div>
                <ul class="navbar-nav me-xl-3 ms-xl-auto">
                    <li class="nav-item py-2">
                        <div class="d-none d-xl-flex py-xl-0 py-2 justify-content-center">
                            <a class="navlink" href="/#Work">Work</a>
                        </div>
                        <a class="d-flex d-xl-none py-xl-0 py-2 justify-content-center btn btn-outline-dark border border-dark border-2 rounded-5" 
                           id="Work-2-link" href="/#Work-2">Work</a>
                        
                    </li>
                    <li class="nav-item me-xl-4 ms-xl-5 py-2">
                        <div class="d-none d-xl-flex justify-content-center">
                            <a class="navlink" href="/about.html">About</a>
                        </div>
                        <a class="d-flex d-xl-none py-xl-0 py-2 justify-content-center btn btn-outline-dark border border-dark border-2 rounded-5"
                            href="/about.html">About</a>
                    </li>
                </ul>
                <div class="d-grid px-0 py-2">
                    <a class="d-flex d-xl-none py-xl-0 py-2 justify-content-center btn btn-outline-dark border border-dark border-2 rounded-5"
                            href="/about.html">Linkedin</a>
                    <a class="btn btn-xprimary rounded-5 px-3 a-contact mt-xl-0 mt-5"
                        href="mailto:boonta.chaiplum@gmail.com">CONTACT</a>
                </div>
            </div>
        </div>
    </div>
</nav>